.navbar.navbar-default {
  background-color:#d4faae;
  border-radius: 0;
  border:none;
}
.navbar-default .navbar-brand {
  color: black;
  font-weight: bolder;
}
.navbar-default .navbar-toggle.collapsed {
  border-color: black;
}
.navbar-default .navbar-toggle.collapsed .icon-bar {
  background-color: black;
}
.navbar-default .navbar-toggle.collapsed:hover,
.navbar-default .navbar-toggle {
  border-color: white;
}

.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

#navbar-menu li {
  border: 1px solid gray;
}

h2 {
  margin-bottom: 30px;
  font-weight:bolder;
}

div.section {
  background-color: #db967d;
  padding: 5px 20px 15px 20px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  #navbar-menu {
    background-color: white;
  }
.navbar.navbar-default {
  background-color: #d4faae;
  border-radius: 0;
  border: none;
}
.navbar-default .navbar-brand {
  color: black;
  font-weight: bolder;
}
.navbar-default .navbar-toggle.collapsed {
  border-color: black;
}
.navbar-default .navbar-toggle.collapsed .icon-bar {
  background-color: black;
}
.navbar-default .navbar-toggle.collapsed:hover,
.navbar-default .navbar-toggle {
  border-color: #190505;
}

.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle .icon-bar {
  background-color: #987a7a;
}

#navbar-menu li {
  border: 1px solid gray;
  margin-bottom:4px;
}

h2 {
  margin-bottom: 30px;
  font-weight:bolder;
}

div.section {
  background-color: #db967d;
  padding: 5px 20px 15px 20px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  #navbar-menu {
    background-color: #f7ffac;
    border: 1px solid black;
   
  }
}
